# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Logs
logs
*.log
npm-debug.log*

# Node / Dependency directories
node_modules/
jspm_packages/
web_drivers/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
